// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-responsive-font-sizes: true;

// Abilita sfumature
$enable-gradients: true;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Palette
$color1: #f4f1de;
$color2: #e07a5f;
$color3: #3d405b;
$color4: #81b29a;
$color5: #f2cc8f;

// Grey
$white: #fff;
$grey1: #f8f9fa;
$grey2: #dcdcdc;
$grey3: #808080;
$grey4: #2f4f4f;
$black: #000;
