// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

body {
  background: $color4;
}

nav {

  .user {
    a {
      margin: 0 15px;
      font-size: 1rem;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.dashboard {
  & > .row:first-child {
    .title {
      color: $grey1;

      i {
        margin-right: 20px;
      }
    }
  }

  & > .row:nth-child(2) {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .title {
    margin-bottom: 15px;
    padding: 5px 15px;
  }

  .info, .welcome, .login-form {
    padding: 30px 0;
  }
  
  .info, .login-form {
    background: $white;
    border-top: 15px solid $color2;
    z-index: 3;

    .avatar {
      padding: 10%;
      margin-bottom: 25px;
    }

    ul {
      list-style: none;
      font-size: 1.5vw;
      line-height: 2;
      margin-bottom: 25px;
    }

    .edit {
      display: block;
      margin: 0 1vw;
    }
  }
  
  .welcome {
    background: $grey1;
    box-shadow: inset 10px 0 20px rgba(0, 0, 0, 0.15);
    padding-left: 45px;

    h5 {
      margin-bottom: 50px;
    }

    a  {
      color: $color3;
      font-size: 1.5rem;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        color: $color5;
      }
    }

    i {
      display: block;
      margin-top: 50px;
      font-size: 3rem;
    }
  }

}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   body {
//     background: red;
//   }
// }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   body {
//     background: blue;
//   }
// }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   body {
//     background: yellow;
//   }
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   body {
//     background: orange;
//   }
// }